10.2.1.33 - - [29/Apr/2013 18:09:05:132] "GET /category.screen?uid=9299979e-a268-4151-a4cd-2994c6971fce&category=Misc&JSESSIONID=SD3SL1FF7ADFF8 HTTP 1.1" 503 1829 "http://www.buttercupenterprises.com/category.screen?uid=edfc9a08-70f2-4883-ad1b-3fef1da78703&category_id=Misc" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_1) AppleWebKit/602.2.14 (KHTML, like Gecko) Version/10.0.1 Safari/602.2.14" 3525
10.2.1.33 - - [29/Apr/2013 18:09:05:132] "GET /category.screen?uid=f510fde4-e9aa-4e69-a713-34abc83574e5&category=Misc&JSESSIONID=SD3SL1FF7ADFF8 HTTP 1.1" 503 1829 "http://www.buttercupenterprises.com/category.screen?uid=fe0d37b9-8217-40d4-925c-ce8d42831ad9&category_id=Misc" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.98 Safari/537.36" 3953
10.2.1.33 - - [29/Apr/2013 18:09:03:144] "GET /product.screen?uid=feb32a24-87be-48b6-b8bd-30efb96a6591&product_id=MCF-3&JSESSIONID=SD1SL7FF2ADFF3 HTTP 1.1" 503 3985 "http://www.buttercupenterprises.com/product.screen?uid=b40fd9a1-0689-4642-ac17-c73b01e7b087&item_id=BW-3" "Mozilla/5.0 (iPhone; CPU iPhone OS 7_0 like Mac OS X) AppleWebKit/537.51.1 (KHTML, like Gecko) Version/7.0 Mobile/11A465 Safari/9537.53 (compatible; bingbot/2.0; http://www.bing.com/bingbot.htm)" 3418
10.2.1.33 - - [29/Apr/2013 18:09:05:132] "GET /category.screen?uid=fdbcea80-0060-49fa-a0bf-db33fa1bde31&category=Misc&JSESSIONID=SD3SL1FF7ADFF8 HTTP 1.1" 503 1829 "http://www.buttercupenterprises.com/category.screen?uid=43cc8dff-dde4-4a9a-abf6-5189054e3b39&category_id=Misc" "Mozilla/5.0 (Windows; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/34.0.1847.137 Safari/537.36" 3202
10.2.1.33 - - [29/Apr/2013 18:09:05:132] "GET /category.screen?uid=55528659-1899-43b2-b77d-38597f165d2a&category=Misc&JSESSIONID=SD3SL1FF7ADFF8 HTTP 1.1" 503 1829 "http://www.buttercupenterprises.com/category.screen?uid=ddfed053-17b1-4c70-8257-8f1c8b740366&category_id=Misc" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.98 Safari/537.36" 3485
10.2.1.33 - - [29/Apr/2013 18:09:04:162] "GET /category.screen?uid=32f37ad9-5ce6-40dc-800b-86d1fd3304af&category=Misc&JSESSIONID=SD8SL5FF10ADFF9 HTTP 1.1" 503 3683 "http://www.buttercupenterprises.com/cart.do?uid=c56b6f15-70b4-4235-a44d-1dc997da7158&action=remove&itemId=MCB-5&product_id=CM-1" "Mozilla/5.0 (Linux; Android 6.0.1; Nexus 5X Build/MMB29P) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2272.96 Mobile Safari/537.36 (compatible; Googlebot/2.1; http://www.google.com/bot.html)" 3297
